<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RhinoDek2.MainSettingsFile" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
    
  </configSections>
  <connectionStrings>
    <add name="RhinoDek2.Properties.Settings.RhinoDekConnectionString"
      connectionString="Data Source=ENGSRV\SIGMANEST;Initial Catalog=RhinoDek;Persist Security Info=True;User ID=SNUser;Password=bestnest1445"
      providerName="System.Data.SqlClient" />
    <add name="RhinoDek2.Properties.Settings.SAPConnectionString"
      connectionString="Data Source=SAP;Initial Catalog=SeaDek;Persist Security Info=True;User ID=sa;Password=B1AdminB1Admin"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <RhinoDek2.MainSettingsFile>
      <setting name="Store_Theme_Name" serializeAs="String">
        <value>"Windows8"</value>
      </setting>
      <setting name="Background" serializeAs="String">
        <value />
      </setting>
      <setting name="CAD_Drive" serializeAs="String">
        <value>Null</value>
      </setting>
      <setting name="Public_Drive" serializeAs="String">
        <value>Null</value>
      </setting>
      <setting name="CNC_Drive" serializeAs="String">
        <value>Null</value>
      </setting>
      <setting name="Title_Font_Color" serializeAs="String">
        <value>Gray</value>
      </setting>
      <setting name="Tile_Font_Family" serializeAs="String">
        <value>Segoe UI, 12pt</value>
      </setting>
      <setting name="Background_Color" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="PaperPrinterName" serializeAs="String">
        <value />
      </setting>
      <setting name="PDFPrinterName" serializeAs="String">
        <value />
      </setting>
    </RhinoDek2.MainSettingsFile>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />
    </providers>
  </entityFramework>
  
</configuration>